/* EXTERNALS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

/* MISCELANEOUS */

@import url('./utilities/variables.css');
@import url('./utilities/generales.css');
/* @import url('./misc/helpers.css');
@import url('./misc/animations.css'); */

/* PARTIALS */

/* @import url('./partials/header.css');
@import url('./partials/footer.css'); */

/* COMPONENTS */

/* @import url('./components/buttons.css');
@import url('./components/form.css');
@import url('./components/card.css');
@import url('./components/slider.css'); */

/* PAGES */

@import url('./views/home.css');
@import url('./views/shop.css');
/* @import url('./views/carrito.css'); */
@import url('./views/items.css');
/* @import url('./views/admin.css'); */
@import url('./views/login.css');
@import url('./views/register.css');
/* @import url('./views/create.css');
@import url('./views/edit.css'); */


/*COLORES*/

:root {
  --var-negro: #1f1f1f;
  --var-blanco: white;
  --var-azul: #30343F;
  --var-celeste: #1D84B5;
  --var-rosa: #FF1654;
  --var-rojo: #FF3333;
  --var-gris: #4f4f4f;
}

/*INICIO MENU*/

.menu {
  height: 12rem;
  background-color: var(--var-azul);
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.img-logo {
  width: 90%;
}

.menu__links{
  height: 100%;
  transition: transform .5s;
  display: flex;
}

.menu__item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover{
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link{
  color: var(--var-blanco);
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 1.8rem;
}

.menu__link:hover{
  background-color: #5e7094; }

.menu__arrow{
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px; }

.menu__nesting{
  list-style: none;
  transition: clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: var(--var-azul);
  z-index: 1; }

.menu__link--inside{
  padding: 30px 100px 30px 20px; }

.menu__link--inside:hover{
  background-color: #798499; }

.menu__hamburguer{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none; }

.menu__img{
  display: block;
  width: 36px; }

/*RESPONSIVES MENU*/

@media (max-width:800px){
  .menu__hamburguer{
    display: flex; }

  .menu__item{
    --clip: 0;
    overflow: hidden; }

  .menu__item--active{
    --transform: rotate(0);
    --background: #5e7094; }

  .menu__item--show{
    background-color: var(--background); }

  .menu__links{
    position: fixed;
    max-width: 350px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: var(--var-azul);
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%); }

  .menu__links--show{
    transform: unset;
    width: 100%;
    top: 12rem; }

  .menu__link{
    padding: 25px 0;
    padding-left: 30px;
    height: auto; 
    font-size: 1.5rem; }

  .menu__arrow{
    margin-left: auto;
    margin-right: 20px; }

  .menu__nesting{
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height .3s; }

  .menu__link--inside{
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499; }
}

/*FIN MENU*/

/*INICIO FOOTER*/
.footer {
  height: 35vh;
  background-color: #30343F;
  padding: 20px 80px; }
  
.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  height: 80%; }

.footer__top__left {
  display: flex;
  justify-content: left;
  align-items: center; 
  margin-left: -2rem;}

.footer__top__left a {
  color: white;
  font-size: 2rem;
  list-style: none;
  text-decoration: none; }

.footer__top__right {
  display: flex;
  justify-content: right;
  align-items: center; }
      
.footer__top__right img {
  width: 75%; }
  
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: bottom;
  max-width: 1200px;
  font-size: 2rem;
  color: white; }

/*RESPONSIVES FOOTER*/

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 50px;
  }
  .footer__top__left a {
    font-size: 1.5rem; }
  .footer__top__right {
    text-align: right;
  }
  .footer__top__right img {
    width: 60%; }
  .footer__bottom {
    font-size: 1.5rem; }
}

@media screen and (max-width: 576px) {
  .footer__top__left a {
    font-size: 1.2rem; }
  .footer__top__right img {
    width: 45%; }
  .footer__bottom {
    font-size: 1.2rem; }
}

/*FIN FOOTER*/