/* EXTERNALS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

/* MISCELANEOUS */

@import url('./misc/variables.css');
@import url('./misc/normalize.css');
/* @import url('./misc/helpers.css');
@import url('./misc/animations.css'); */

/* PARTIALS */

@import url('./partials/header.css');
@import url('./partials/footer.css');

/* COMPONENTS */

/* @import url('./components/buttons.css');
@import url('./components/form.css');
@import url('./components/card.css');
@import url('./components/slider.css'); */

/* PAGES */

@import url('./pages/home.css');
@import url('./pages/shop.css');
@import url('./pages/carrito.css');
@import url('./pages/items.css');
@import url('./pages/admin.css');
@import url('./pages/login.css');
@import url('./pages/register.css');
@import url('./pages/create.css');
@import url('./pages/edit.css');


/*COLORES*/

:root {
  --var-negro: #1f1f1f;
  --var-blanco: white;
  --var-azul: #30343F;
  --var-celeste: #1D84B5;
  --var-rosa: #FF1654;
  --var-rojo: #FF3333;
  --var-gris: #4f4f4f;
}