/*INICIO GENERALES*/

* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box; }
  
html {
    font-family: var(--base-font);
    font-size: 62.5%; 
    color: var(--dark-solid); }

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit; }
  
ul {
    list-style: none; }

input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500; }
  
.titulo {
    font-family: "Raleway", sans-serif;
    font-size: var(--font-jumbo);
    font-weight: 700;
    margin-bottom: 2rem; }
  
.descripcion {
    font-size: 2.7rem; }
  
.boton-rojo {
    background-color: var(--primary-solid);
    color: var(--var-blanco);
    border: 1px solid var(--primary-solid);
    padding: 0.8rem 2.5rem;
    font-size: var(--font-xsmall); }

.container {
    max-width: 1200px;
    margin: 0 auto; }

.grid-fixed {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; }
  
/*RESPONSIVES GENERALES*/
  
@media screen and (max-width: 576px) {
    .titulo {
      font-size: 2.8rem; }
    .descripcion {
      font-size: 1.8rem; }
}
  
/*FIN GENERALES*/