//COLORES
$var-negro: #1f1f1f;
$var-blanco: white;
$var-azul: #30343F;
$var-celeste: #1D84B5;
$var-rosa: #FF1654;
$var-rojo: #FF3333;

//FONTS
$inter: 'Inter', sans-serif;
$raleway: 'Raleway', sans-serif;