<%- include('../partials/header.ejs') %>

  <!--Inicio Carrito-->
  <div class="carrito container">
    <h2 class="titulo">CARRITO DE COMPRAS</h2>

    <!--Inicio Productos-->
    <div class="carrito__container">

      <div class="carrito__container__encabezado">
        <p>DETALLE DE PRODUCTO</p>
        <p>CANTIDAD</p>
        <p>TOTAL</p>
      </div>

      <div class="carrito__container__productos">
        <div class="carrito__container__productos__item">
          <img src="/multimedia/star-wars/baby-yoda-1.webp" alt="" />
          <div class="item-detalle">
            <p class="item-detalle-titulo">BABY YODA BLUEBALL</p>
            <p class="item-detalle-licencia">STAR WARS</p>
            <p class="item-detalle-precio">Precio: $ 1799,99</p>
          </div>
        </div>
        <div class="carrito__container__cantidad">
          <input type="input" value="1" name="quantity" id="quantity">
          <div class="carrito__container__cantidad__controles">
            <button id="add" class="controles">+</button>
            <button id="subtract" class="controles">-</button>
          </div>
        </div>
        <div class="carrito__container__precio">
          <p>$ 3599,98</p>
          <a href=""><img src="/multimedia/icons/close.png" alt="close"></a>
        </div>
      </div>

      <div class="carrito__container__productos">
        <div class="carrito__container__productos__item">
          <img src="/multimedia/pokemon/pidgeotto-1.webp" alt="" />
          <div class="item-detalle">
            <p class="item-detalle-titulo">PIDGEOTTO</p>
            <p class="item-detalle-licencia">POKEMON</p>
            <p class="item-detalle-precio">Precio: $ 1799,99</p>
          </div>
        </div>
        <div class="carrito__container__cantidad">
          <input type="input" value="1" name="quantity" id="quantity">
          <div class="carrito__container__cantidad__controles">
            <button class="controles">+</button>
            <button class="controles">-</button>
          </div>
        </div>
        <div class="carrito__container__precio">
          <p>$ 3599,98</p>
          <a href=""><img src="/multimedia/icons/close.png" alt="close"></a>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Productos-->

  <!--Inicio Resumen-->
  <div class="resumen container">
    <h2 class="titulo">RESUMEN</h2>

    <div class="resumen__container">
      
      <div class="resumen__container__elemento">
        <p class="elemento-texto">CANTIDAD DE ELEMENTOS</p>
        <p class="elemento-cantidad">3</p>
      </div>
        
      <div class="resumen__container__elemento">
        <p class="elemento-texto">SUBTOTAL</p>
        <p class="elemento-cantidad">$ 5.399,97</p>
      </div>
      
      <div class="resumen__container__elemento">
        <p class="elemento-texto">ENVIO</p>
        <p class="elemento-cantidad">$ 0,00 </p>
      </div>

      <div><hr class="red-line"></div>

      <div class="resumen__container__elemento">
        <p class="elemento-texto-total">TOTAL</p>
        <p class="elemento-cantidad-total"> $ 5.399,97</p>
      </div>

    </div>
    <button class="boton-rojo">IR A PAGAR</button>
    <!--Fin Resumen-->
  </div>
  <!--Fin Carrito-->

<script src="/js/carrito.js"></script>
<%- include('../partials/footer.ejs') %>
