/*INICIO FOOTER*/

.footer {
    @include sizes(100%, 35vh);
    background-color: $var-azul;
    padding: 20px 80px;
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80%;
        &__left {
            display: flex;
            justify-content: left;
            align-items: center;
            a {
                color: $var-blanco;
                font-size: 2rem;
                list-style: none;
                text-decoration: none;
            }
        }
        &__right {
            display: flex;
            justify-content: right;
            align-items: center;
            img {
                width: 20%;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: bottom;
        font-size: 2rem;
        color: $var-blanco;
    }
}

/*FIN FOOTER*/