/*INICIO GENERALES*/

* {
    padding: 0;
    margin: 0;
    font-family: $raleway;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

ul {
    list-style: none;
}

.titulo {
    @include font($raleway, 4rem);
    font-weight: 700;
    margin-bottom: 20px;
}

/*FIN GENERALES*/