/*INICIO HEADER*/

.navbar {
    height: 20vh;
    background-color: $var-azul;
    .container-fluid {
        img {
            width: 90%;
        }
    }
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar>.container-fluid {
    margin: 0 4rem;
}

.nav-item a {
    color: $var-blanco;
    font-size: 2rem;
    margin-left: 40px;
}

/*FIN HEADER*/