/*INICIO HERO*/

.hero {
    @include sizes(100%, 80vh);
    background-image: url(../img/funkos-banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 70px;
    &__container {
        &__title {
            color: $var-blanco;
            font-size: 3.8rem;
            font-weight: bold;
            margin-bottom: 0px;  
        }
        &__subtitle {
            color: $var-blanco;
            font-size: 1.8rem;
            margin-bottom: 40px;
        }
        .button-blanco {
            @include sizes(211px, 47px);
            @include font($inter, 2rem);
            border-radius: 50px;
            border: $var-blanco;
        }
    }
}

/*FIN HERO*/