/*INICIO ITEMS*/

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__imagen {
        padding-left: 4rem;
        img {
            width: 90%;
        }
    }
    &__descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 4rem;
        &__title {
            @include font($inter, 1.6rem);
        }
        &__subtitle {
            @include font($inter, 2.2rem);
            font-weight: bold;
        }
        &__description {
            @include font($inter, 1.6rem);
        }
        &__price {
            @include font($inter, 2.4rem);
        }
        &__selection {
            display: flex;
            &__cantidad {
                display: flex;
                align-items: center;
                input {
                    @include sizes(105px, 35px);
                    @include font($inter, 2rem);
                    color: $var-gris;
                    text-align: center;
                }
            }
            &__cambiar {
                display: flex;
                flex-direction: column;
                button {
                    @include sizes(20px, 20px);
                    font-size: 1.2rem;
                    margin: 1px 10px;
                    padding: 0px;
                    border: 1px solid $var-gris;
                    border-radius: 0px;
                    background-color: $var-gris;
                    color: $var-blanco;
                }
            }
            &__carrito {
                display: flex;
                align-items: center;
                button {
                    @include sizes(150px, 38px);
                    @include font($inter, 1.5rem);
                    color: $var-blanco;
                    background-color: $var-rojo;
                }
            }
        }
        &__pago {
            display: flex;
            margin: 15px 0px;
            p, a {
                @include font($inter, 1.4rem);
                font-weight: bold;
                color: $var-celeste; 
            }
        } 
    }
}

.news {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    &__articles {
        @include grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px 0px;
        &__product {
            display: flex;
            flex-direction: column;
            width: 360px;
            &__image {
                display: flex;
                position: relative;
                justify-content: center;
                &__label {
                    @include flex;
                    @include sizes(100px, 30px);
                    background-color: $var-rojo;
                    color: $var-blanco;
                    position: absolute;
                    font-size: 1.4rem;
                    top: 0;
                    right: 0;
                    p {
                        margin: 0px;
                    }
                }
                &__photo {
                    img {
                        width: 350px;
                    }
                }
            }
            &__description {
                &__title {
                    @include font($inter, 1.4rem);
                }
                &__subtitle {
                    @include font($inter, 1.8rem);
                    font-weight: bold;
                }
                &__price {
                    @include font($inter, 1.6rem);
                }
                &__dues {
                    @include font($inter, 1.2rem);
                    font-weight: bold;
                    color: $var-celeste;
                }
            }
        }
    }
}

/*FIN ITEMS*/