/*INICIO FILTER*/
.filter {
    @include sizes(200px, auto);
    display: flex;
    flex-direction: column;
    float: left;
    margin: 50px 10px 0px 50px;
    &__buscar {
        display: flex;
        flex-direction: column;
        label {
            @include font($inter, 16px);
            margin: 5px 0px;
        }
        input {
            @include font($inter, 12px);
        }
    }
    &__orden {
        display: flex;
        flex-direction: column;
        label {
            @include font($inter, 16px);
            margin: 5px 0px;
        }
        select {
            height: 20px;
            option {
                @include font($inter, 12px);
            }
        }
    }
    &__precio {
        display: flex;
        flex-direction: column;
        label {
            @include font($inter, 16px);
            margin: 5px 0px;
        }
        &__limites {
            display: flex;
            justify-content: space-around;
            align-items: center;
            input {
                @include sizes(60px, 18px);
                @include font($inter, 12px);
                text-align: center;
            }
        } 
    }
    &__filtro {
        display: flex;
        flex-direction: column;
        label {
            @include font($inter, 16px);
            margin: 5px 0px;
        }
        &__inputs {
            input {
                @include font($inter, 12px);
            }
        }
    }
}
/*FIN FILTER*/

/*INICIO ARTICLES*/
.articles {
    @include grid;
    @include sizes(80%, auto);
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0px;
    &__product {
        display: flex;
        flex-direction: column;
        width: 310px;
        &__image {
            display: flex;
            position: relative;
            justify-content: center;
            &__label {
                @include flex;
                @include sizes(100px, 30px);
                background-color: $var-rojo;
                color: $var-blanco;
                position: absolute;
                font-size: 1.4rem;
                top: 0;
                right: 0;
                p {
                    margin: 0px;
                }
            }
            &__photo {
                img {
                    width: 350px;
                }
            }
        }
        &__description {
            &__title {
                @include font($inter, 1.4rem);
            }
            &__subtitle {
                @include font($inter, 1.8rem);
                font-weight: bold;
            }
            &__price {
                @include font($inter, 1.6rem);
            }
            &__dues {
                @include font($inter, 1.2rem);
                font-weight: bold;
                color: $var-celeste;
            }
        }
    }
}
.botones {
    @include flex;
    margin-bottom: 40px;
    button {
        @include font($inter, 16px);
        @include sizes(44px, 44px);
        margin: 5px;  
    }
}
/*FIN ARTICLES*/