.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - 35vh - 12rem); }

.contact h2 {
    margin-top: 20px; }

.contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto; }
      
.div-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Inter", sans-serif;
    font-size: 2rem; 
    margin-top: 1rem; }
      
.div-form label {
    margin-top: 1rem; 
    margin-right: 1rem;
    text-align: right; }
      
.div-form input {
    border: none;
    border-bottom: 1px solid #FF3333; }

.div-form textarea {
    border-bottom: 1px solid #FF3333; 
    border-top: none;
    border-right: none;
    border-left: none;
    width: auto; }

.div-submit {
    margin: 2rem; }
      
.rellenar {
    width: 100%;
    height: 20px;
    padding: 20px 5px; }

/*RESPONSIVE CONTACT*/
    
@media screen and (max-width: 576px) {
    .titulo {
        font-size: 2.8rem; }
    .div-form label {
        font-size: 1.5rem; }
    .div-form input {
            width: 20rem; }
    .div-form {
        grid-template-columns: 1fr 2fr; }
    .div-form textarea {

    }
} 

    /*FIN CONTACT*/